In [1]:
2+2

4

In [4]:
age = 20

In [7]:
color = "black"

In [9]:
collage = "University of Lucknow"

In [10]:
x = 1
y = 35656222554887711
z = 3255522

In [11]:
x = 6665
y = 244545454487845778454998646465644462665659464949594948469
z = 5451515845555545

In [13]:
a = 2.2
b = 2.0
z = 16.11
c = 64.5e100

In [15]:
name = "disjfisjf 01"
color = "red"
institute = "digipodium"

In [17]:
is_coading = True
is_fun = True
are_u_bored = False

In [20]:
a = None

In [22]:
name = ['John', 'Bob', 'Mary']

In [24]:
a = [5,10,46,35]

In [27]:
colors = ['red','yellow']

In [29]:
a = (1,2,34,34,)

In [31]:
a = {5,5,5,5,5,6,6,6}

In [2]:
car_info = {
    "brand": "Ford",
    "model": "Mustung",
    "year" : "2002"
}

In [3]:
# Operators

In [5]:
656464+111313

767777

In [7]:
646666-554545

92121

In [9]:
66465*51545

3425938425

In [11]:
4611/66

69.86363636363636

In [13]:
43321%3

1

In [15]:
3235644//55

58829

In [19]:
46**3

97336

In [21]:
x = 5

In [23]:
x += 5

In [25]:
x -= 5

In [27]:
x *= 5

In [29]:
x /= 5

In [31]:
x //= 5

In [35]:
x **= 5

In [37]:
x == 5

False

In [39]:
x != 5

True

In [41]:
x > 5

False

In [43]:
x < 5

True

In [45]:
x >= 5

False

In [47]:
x <= 5

True

In [49]:
x <5 and x < 4

True

In [51]:
x < 5 or x < 4

True

In [53]:
x < 5 and x < 10

True

In [63]:
x = [0,1]
y = [0,1]
z = x

In [64]:
x == y

True

In [66]:
x is y

False

In [67]:
x==z

True

In [68]:
days = {'monday', 'tuesday', 'thursday', 'friday', 'saturdy'}

In [70]:
'monday' in days

True

In [72]:
'holiday' in days

False

In [74]:
msg = input()

In [83]:
hero = input('who is your fav hero')

In [85]:
x = '100'
y = '-90'
x+y

'100-90'

In [86]:
x = int(x)
y = int(y)
x + y

10

In [91]:
phone = input('enter phone')
phone = int(phone)
print(type(phone), phone)

ValueError: invalid literal for int() with base 10: '189232198 1123'

In [94]:
z = 1.232
z1 = int(z)
z
type(z)
z1
type(m)

NameError: name 'm' is not defined

In [96]:
a = input('your name >>>')
type(a)

str

In [98]:
x = 5
x = str(5)
type(x)

str

In [1]:
b = input('age of tiger')
type(b)

str

In [2]:
# some more example

In [5]:
name = input("enter your name:")
city = input("enter your city:")
fav_food = input("enter your favourite food:")

print(f'your name: {name}😎 ')
print(f'your city: {city}')
print(f'ener your fav food: {fav_food}')

your name: nishchay😎
your city: reabareli
ener your fav food: tomato

In [7]:
num1 = int(input("enter a number:"))
num2 = int(input("enter another number:"))
num3 = num1+num2
print(f'{num1} + {num2} = {num3}')

In [11]:
base=int(input('enter base:'))
perpendicular=int(input('perpendicular'))
hypo=(perpendicular**2 + base**2)**0.5
print(f'Hypotenuse: {hypo}')

Hypotenuse: 17.69180601295413

In [13]:
print('you see a apple seller')
q = input('do you like apple ?')

if q=='yes':
    print('purchase 2kg of apples')
if q=='no':
    print('you do not purchase apple')

you see a apple seller
purchase 2kg of apples

In [15]:
x = -5
if x >5:
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this power,comes great resposibility')
print('the end')

the end

In [17]:
temp = float(input('what is the temprature?'))
if temp  > 70:
    print('wearshorts')
else:
    print('wear long pants')
print('Get some exersise outside')

wearshorts
Get some exersise outside

In [3]:
score = int(input('your score ->'))
if score >= 90:
    letter = 'A'
elif score >= 80:
        letter = 'B'
elif score >= 70:
            letter = 'C'
elif score >= 60:
                letter = 'D'
else:
                    letter = 'F'
print(letter)

F

In [7]:
name = input ("Enter your name:")
city = input("Enter your city:")
fav_food = input("Enter your favourite food:")
fav_movie = input("Enter your favourite movie:")
fav_book = input("Enter your book:")

print(f'your name: {name} 😎')
print(f'your city: {city}')
print(f'your favourite food: {fav_food}')
print(f'your favourite movie: {fav_movie}')
print(f'your favourite book: {fav_book}')

your name: nishchay 😎
your city: reabareli
your favourite food: potato
your favourite movie: rameshwaram
your favourite book: geeta

In [3]:
salary = 29000
if salary > 20000:
    hra = '5%'  
else:    
     hra = '6%'
print(f'HRA: {hra}')

HRA: 5%

In [5]:
hra = '5%' if salary > 20000 else '6%'
print(f'HRA: {hra}')

HRA: 5%

In [7]:
print("42") if 42 in [22,33,42] else print("21")

42

In [9]:
x = "Alice" if 'Jon' in 'My name is Jonas' else 'Bob'
print(x)

Alice