In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

For Loop

In [3]:
word = "this is Sparta"
for i in word:
    print(i)

t
h
i
s

i
s

S
p
a
r
t
a

In [6]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [9]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [10]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [11]:
#pattern loop
for i in range(20):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa

In [15]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print(num)

15
30
45
60
75
90

In [19]:
places = ["Paris","London","New York","Madrid","Rome"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
Madrid contains 6 characters
Rome contains 4 characters

In [26]:
x = [5,5,6,9,8,9,6,4,5,8]
c = 0
for i in x:
    if i == 5:
        c += 1
print(c)

3

while loop

In [1]:
x = 1
while x <10:
    print('run')
    x+=1
print('stop')

run
run
run
run
run
run
run
run
run
stop

In [2]:
# a complex program
n =10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1     # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [3]:
while input("continue?")  == "y":
    print("you continued running this loop")

you continued running this loop

In [4]:
while len(input("name a place")) > 0:
    print("you entered a place")

you entered a place
you entered a place

In [5]:
num = int(input('enter a num'))
while num > 0:
    if num % 5 ==0:
        break
    print(num)
    num -= 1

In [7]:
story = ""
while True:
    line = input("enter a line")
    if line == "":
        break
    story += line + "\n"

In [8]:
print(story)

ram is good boy
he is honest
he go school
yes

In [9]:
num

55

In [12]:
x = [2,5,9,7,0,5,7,0,56,0,6]
for i in x:
    if i == 0:
        continue
    print(i)

2
5
9
7
5
7
56
6

In [14]:
fruits = ['apple','banana','mango']
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have apple
we have banana
we have mango
thats all

In [16]:
vegs = ['tomato','onion','carrot']
for veg in vegs:
    print(f'looking at{veg}')
    if veg == 'potato':
        print('potato found')
        break
else:
    print('potato not found')

looking attomato
looking atonion
looking atcarrot
potato not found

In [18]:
# prime number
num = int(input('enter a num='))
for i in range(2,num):

    print(f'{num}/{i} == {num%i}')

    if num%i == 0:
        print(f'{num} is not a prime number')
        break
    else:
        print(f'{num} is a prime number')

6/2 == 0
6 is not a prime number

enumerate and zip

In [21]:
for veg in vegs:
    print(vegs)

['tomato', 'onion', 'carrot']
['tomato', 'onion', 'carrot']
['tomato', 'onion', 'carrot']

In [22]:
for idx, val in enumerate(vegs):
    print(idx,val)

0 tomato
1 onion
2 carrot

In [23]:
x = [1,2,3,5,6,5,8,8,8]
y = [4,5,9,8,7,3,6,5,7]
z = [5,6,9,8,7,5,3,8,8]

for i,j,k in zip(x,y,z):
    print(i+j+k ,end= ' ')

10 13 21 21 20 13 17 21 23

In [7]:
fruits = ['apple','banana','mango']
for fruit in fruits:
    print('we have',fruits)
else:
    print('thats all')

we have ['apple', 'banana', 'mango']
we have ['apple', 'banana', 'mango']
we have ['apple', 'banana', 'mango']
thats all

In [8]:
p = float(input("enter principal amt"))
r = float(input("enter rate of interest:"))
t = float(input("enter timme"))
si = p * r * t / 100
a = si + p
print(f'simple interest: {si}')
print(f'amount: {a}')

simple interest: 0.24
amount: 2.24

In [11]:
q = input("do you like lichi?")
if q == 'yes' or q == 'y' or q == 'ji':

    print('lichi is the best')
if q == 'no' or q == 'n':
    print('lichi is the worst')

In [14]:
salary = 19000
if salary > 20000:
    hra = '5%'
else:
    hra = '6%'
print(f'HRA: {hra}')

HRA: 6%

In [19]:
hra = '5%' if salary > 20000 else '6%'
print(f'HRA: {hra}')

HRA: 6%