In [1]:
name = "Nishchay Bajpai"

indexing
slicing
applying function on strings
methods
iterating

name[5]

In [3]:
name[5]

'h'

In [6]:
name[0] + name[2] +name[3] + name[4] + name[5] + name[6]

'Nshcha'

In [7]:
name[-1]

'i'

In [10]:
# getting a slice
s = 'digipodium'
slice1 = s[4:7]
print(slice1)

pod

In [13]:
fname = name[0:4]
print(fname)

Nish

In [14]:
name = "Vijay Deenanath Chauhan"

In [17]:
name[6]+name[7]+name[8]+name[9]+name[10]+name[11]+name[12]+name[13]+name[14]

'Deenanath'

In [19]:
name[-7:len(name)]

'Chauhan'

In [20]:
# getting a silence
s = 'digipodium'
slice1 = s[0:4]
slice2 = s[:4]
print(slice1)
print(slice2)

digi
digi

In [21]:
slice1 = s[4:len(s)]
slice2 = s[4:1]
print(slice1)
print(slice2)

podium

In [22]:
x = chr(65)
print(x)
x = chr(2365)
print(x)
x = chr(12365)

A
à¤½

In [24]:
y = ord('A')
print(y)
y = ord('a')
print(y)
y = ord('{')
print(y)

65
97
123

In [27]:
a = 'apple'
b = 'juice'
ab = a+b
print(ab)

applejuice

In [28]:
w1 = 'this'
w2 = 'is'
w3 = 'Amazing'
msg = w1 + w2 + w3
print(msg)

thisisAmazing

In [32]:
# adding space b/w string
msg = w1 + '' + w2 + '' + w3
print(msg)

thisisAmazing

In [33]:
word = 'Hi'
print(word * 3)

HiHiHi

In [34]:
print('-' * 25)

-------------------------

function

- formatting

utility

validation

In [1]:
story = "Once a time; there was akingdom where people lived,The end"

In [3]:
story.upper()

'ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,THE END'

In [4]:
story.lower()

'once a time; there was akingdom where people lived,the end'

In [5]:
print(story)

Once a time; there was akingdom where people lived,The end

In [6]:
story.swapcase()

'oNCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,tHE END'

In [7]:
story.title().swapcase()

'oNCE a tIME; tHERE wAS aKINGDOM wHERE pEOPLE lIVED,tHE eND'

In [8]:
story = story.upper()
print(story)

ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,THE END

In [9]:
name = "Samuel"
print(name)

Samuel

In [10]:
name.ljust(100)

'Samuel                                                                                              '

In [12]:
story.rjust(100)

'                                          ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,THE END'

In [16]:
name.ljust(100,']')

'Samuel]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]'

In [18]:
name = input('who are u?')
name.isalpha()

False

In [20]:
name = input('who are you?')
if not name.isalpha():
     print("name is invalid")
else:
    print("good job")

good job

In [21]:
"45454".isnumeric()

True

important stuff below

-split

-join

-strip

replace

count

find

In [22]:
story

'ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,THE END'

In [23]:
story.split()

['ONCE',
 'A',
 'TIME;',
 'THERE',
 'WAS',
 'AKINGDOM',
 'WHERE',
 'PEOPLE',
 'LIVED,THE',
 'END']

In [24]:
words = story.split()
print(words)

['ONCE', 'A', 'TIME;', 'THERE', 'WAS', 'AKINGDOM', 'WHERE', 'PEOPLE', 'LIVED,THE', 'END']

In [25]:
story.split(',')

['ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED', 'THE END']

In [28]:
story.split('b')

['ONCE A TIME; THERE WAS AKINGDOM WHERE PEOPLE LIVED,THE END']

In [31]:
len(story.split())

10

In [32]:
message = ['This','is','a','list']
s = ''.join(message)
print(s)

Thisisalist